





<div class="container-fluid banner">
    <div class="conatiner">
         <div class="navbar">
             <div class="navbar-left">
                 <img src='../assets/images/lg2.png' alt="Woodland logo" style="height: 50px;widows: 50px;">
             </div>
             <div class="navbar-right">
                 <ul class="navbar-right">
                 <i class="fa fa-home" aria-hidden="true" role="none"></i><li><a class="nav-link" href="#">Home</a></li>
                 <i class="fa fa-user-circle-o" aria-hidden="true"></i><li><a class="nav-link" href="#">About Us</a></li>
                 <i class="fa fa-phone" aria-hidden="true"></i><li><a class="nav-link" href="#">Contact Us</a></li>
                 <i class="fa fa-sign-in" aria-hidden="true"></i><li><button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModalCenter">Sign In</button></li>
                 </ul>
             </div>
         </div>
     </div>