body{
    margin: 0px;
    padding: 0px;
  }
  .container-fluid {
    padding: 0px;
    width: 100%;
  }
  .banner
  {
    padding: 0px;
    background: #EFEFEF ;
  }
  .navbar
  {
     padding: 0px;
  }
  .navbar-right i
  {
    color:#141e01d1;
    font-size: 28px;
  }
  .navbar-right ul li     
  {
    display: inline-block;
    font-size: 22px;
  }
  .navbar-right ul li a{
    color: #141E01;
  }     